<!DOCTYPE html>
<html>
<head>
<title>Its 8</title>
</head>
<style type="text/css">}
body {background-color:black;color:white;font-family: "Arial", "Helvetica", serif;} 
a:link { color: #CCCCCC;} 
h1 {color: #CCCCCC; font-family: "Times New Roman";}
</style>
</html>
